
<div class="col-12  padding-x-0">
    <div class="card days">
        <span class="card-img-top just-bg-@(Day.color) text-center f-size36 days-title  my-sticky">@(Day.Title)</span>
        <div class="card-body padding-x-0">
            <div class="list-group list-group-flush">
                <div class="list-group-item padding-x-0">
                    @foreach (var meal in Day.GetMeals())
                    {
                        if (meal.Food.Name != null)
                        {
                            <Meals Models="Models" Week="Week" Day="Day" Meal="meal" OnWeeksListChangeDays="OnWeeksListChangeDays" OnModelsChangeDays="OnModelsChangeDays" DayOfWeek="DayOfWeek" />
                        }
                        else if(!meal.IsMealPassed)
                        {
                            Day.IsCreateBtnNeeded = true;
                        }
                    }
                </div>
            </div>

            @if (Day.IsCreateBtnNeeded && !Day.IsDayPassed)
            {
                <div class="d-flex justify-content-center">
                    <button class="btn my-bg-@(Day.color) new-meal-buttons" data-bs-toggle="modal" data-bs-target="#addEditMealModal" @onclick="() => passingData(true)">
                        @(PersianPhrases.NewMeal)
                    </button>
                </div>
            }


        </div>
    </div>
</div>




@code {

    [Parameter]
    public Models Models { get; set; }

    [Parameter]
    public Week Week { get; set; }

    [Parameter]
    public Day Day { get; set; }

    [Parameter]
    public int ColorCounter { get; set; }

    [Parameter]
    public int DayOfWeek { get; set; }

    [Parameter]
    public EventCallback<Models> OnModelsChangeWeeks { get; set; }

    [Parameter]
    public EventCallback OnWeeksListChangeWeeks { get; set; }

    private PersianPhrases PersianPhrases = new PersianPhrases();

    public string DayModelTitle { get; set; }



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }



    public async Task passingData(bool isAddMeal, Meal? meal = null)
    {
        Models.WeekId = Week.Id;
        Models.DayModel = new Day()
        {
            Title = Day.Title,
            color = Day.color,
        };
        Models.IsForAddMeal = isAddMeal;

        if (Models.IsForAddMeal)
        {
            Models.MealModel = new Meal();
            Models.GroceryModel = new Grocery();
        }
        else
        {
            Models.MealModel = new Meal()
            {
                Id = meal.Id,
                Title = meal.Title,
                Food = new Food(meal.Food.Name),
                Groceries = meal.Groceries != null ? new List<Grocery>(meal.Groceries) : null,
            };
        }

        await OnModelsChangeDays();
    }

    public async Task OnModelsChangeDays(Models models = null)
    {

        if (models != null)
            Models = models;

        await OnModelsChangeWeeks.InvokeAsync(Models);
    }

    public async Task OnWeeksListChangeDays()
    {
        await OnWeeksListChangeWeeks.InvokeAsync();
    }

}
