
<div class="d-flex justify-content-between header w-100">
    <div class="headers-title">
        @(Language.FoodPlaning)
    </div>
    <div class="headers-option">
        <button type="button" class="btn text-white margin-start-auto" data-bs-toggle="modal" data-bs-target="#settingModal"><i class="fa fa-bars f-size36 mt-2" aria-hidden="true"></i></button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Language Language { get; set; }
}
