
<div id="WeekCarousel" class="carousel slide mb-5">
    <div class="carousel-inner">

        @foreach (var week in WeeksList)
        {
            if (FirstRender)
            {
                ColorCounter = Random.Next(0, week.GetColors().Count());
                WeekColorCounter = Random.Next(0, week.GetColors().Count());
                while (WeekColorCounter == ColorCounter)
                {
                    WeekColorCounter = Random.Next(0, week.GetColors().Count());
                }

                FirstRender = false;
            }

            <div class="carousel-item @(week.Title == PersianPhrases.CurrentWeek ? "active": "") col-12 padding-x-0">
                <div class="mb-3">
                    <div class="my-2 d-flex justify-content-between">
                        <button class="border-0  " type="button" data-bs-target="#WeekCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                        <span class=" f-size36 weeks-title just-bg-@(week.GetColors()[WeekColorCounter]) text-center">@(week.Title)</span>

                        <button class="border-0 " type="button" data-bs-target="#WeekCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon text-dark " aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                </div>

                @foreach (var day in week.GetDays())
                {
                    day.color = $"{week.GetColors()[ColorCounter]}";

                    <Days Models="Models" Week="week" Day="day"  OnWeeksListChangeWeeks="OnWeeksListChangeWeeks" OnModelsChangeWeeks="OnModelsChangeWeeks" DayOfWeek="DayCounter" />

                    DayCounter++;
                    if (DayCounter > 7)
                    {
                        DayCounter = 1;
                    }
                }
            </div>

            @if (ColorCounter < week.GetColors().Count() - 1)
            {
                ColorCounter = ColorCounter + 1;
            }
            else
            {
                ColorCounter = (ColorCounter + 1) - week.GetColors().Count();
            }

            @if (WeekColorCounter < week.GetColors().Count() - 1)
            {
                WeekColorCounter = WeekColorCounter + 1;
            }
            else
            {
                WeekColorCounter = (WeekColorCounter + 1) - week.GetColors().Count();
            }

        }
    </div>
</div>




@code {

    [Parameter]
    public Models Models { get; set; }

    [Parameter]
    public List<Week> WeeksList { get; set; }

    [Parameter]
    public EventCallback<Models> OnModelsChange { get; set; }

    [Parameter]
    public EventCallback<List<Week>> OnWeeksListChange { get; set; }

    public Random Random { get; set; }
    private PersianPhrases PersianPhrases = new PersianPhrases();


    public bool FirstRender { get; set; }

    public int ColorCounter { get; set; }

    public int WeekColorCounter { get; set; }

    public int DayCounter { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        FirstRender = true;

        Random = new Random();

        DayCounter = 1;
    }

    public async Task OnModelsChangeWeeks(Models models)
    {
        Models = models;
        await OnModelsChange.InvokeAsync(Models);
    }

    public async Task OnWeeksListChangeWeeks()
    {
        await OnWeeksListChange.InvokeAsync(WeeksList);
    }

}
