@font-face {
    font-family: "iransans";
    src: url("fonts/IRANSans.ttf") format("truetype");
}

* {
    font-size: 24px;
    scroll-behavior: smooth;
}

.padding-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.f-size18{
    font-size: 18px;
}

.f-size28{
    font-size: 28px;
}

.f-size32{
    font-size: 32px;
}

.f-size36{
    font-size: 36px;
}

.my-bg-blue {
    background-color: #2e7396;
}

.my-bg-red {
    background-color: #962e33;
}

.my-bg-red-outline {
    border-color: #962e33;
    background-color: none;
    color: #962e33;
}

.my-bg-red-outline:hover {
    background-color: #962e33;
    color: white;
}

.my-bg-green {
    background-color: #2e9669;
}

.my-bg-orange {
    background-color: #96352e;
}

.my-bg-purple {
    background-color: #5d2e96;
}

.my-bg-mustard {
    background-color: #96912e;
}

.my-bg-skyblue {
    background-color: #2e9691;
}

.days {
    border : 2px solid lightgray ;
}

.days-title {
     color: white;
     font-weight: 600;
     padding-top: 15px;
     padding-bottom: 25px;
}

.width-98{
    width: 98%;
}

.bootstrap-buttons {
    padding-bottom: 15px;
}


.new-meal-buttons {
    margin-top: 20px;
    padding-bottom: 20px;
}

.food-name{
    font-weight: 500;
    color: white;
}

.m-right-auto{
    margin-right: auto !important;
    margin-left: 0 !important;
}

.grocery-btn{
    padding: 11px ;
}

.grocery-add-btn{
    margin-top: 49px !important;
}

.grocery-del-btn {
    width: 42px;
    height: 42px;
}

.meal-dropdown-btn {
    height: 52px;
    padding-bottom: 10px;
}

.meal-del-btn {
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 26px;
    width: 42px;
    height: 42px;
}

.meal-title {
    margin-top: 10px;
    margin-right: 24px;
}









