
@font-face {
    font-family: 'my-font';
    src: url('../fonts/iransans/ttf/iransansweb(fanum)_light.ttf') format('truetype');
    unicode-range: U+0600-06FF;
}
@font-face {
    font-family: 'my-font';
    src: url('../fonts/exo_2/static/exo2-regular.ttf') format('truetype');
    unicode-range: U+0020-007F;
}
@font-face {
    font-family: 'my-font-bold';
    src: url('../fonts/iransans/ttf/iransansweb(fanum)_bold.ttf') format('truetype');
    unicode-range: U+0600-06FF;
}
@font-face {
    font-family: 'my-font-bold';
    src: url('../fonts/exo_2/static/exo2-semibold.ttf') format('truetype');
    unicode-range: U+0020-007F;
}

* {
    font-size: 24px;
    scroll-behavior: smooth;
    font-family: 'my-font';
}

.my-disabled {
    pointer-events: none;
    opacity: 0.6;
}

.opacity-06 {
    opacity: 0.6;
}

.padding-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-x-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-t-5 {
    padding-top: 5px !important;
}

.padding-t-10 {
    padding-top: 10px !important;
}

.padding-b-40 {
    padding-bottom: 40px !important;
}

.padding-l-40 {
    padding-inline-end: 40px !important;
}

.margin-l-5 {
    margin-left: 5px !important;
}

.margin-l-0 {
    margin-left: 0px !important;
}

.margin-start-auto {
    margin-inline-start: auto !important;
}

.height-52{
    height: 52px;
    
}


.dir-ltr{
    direction: ltr;
}

.my-sticky{
    position: sticky;
    top: 0;
}

.header {
    height: 110px;
    align-items: center;
    /*background-image: url('../images/new project.png');*/
    background-color: #2e7396;
    color: white;
    font-size : 24px;
}

.headers-title {
    font-family: 'my-font-bold';
    margin-inline-start: 20px;
    font-size: 36px;
    text-shadow: 2px 5px 5px black;
} 

.headers-option {
    margin-inline-end: 20px;
}

.weeks-title {
    font-family: 'my-font-bold';
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    min-height: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.food-title {
    display: block;
    font-family: 'my-font-bold';
    color: white;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    padding-top: 18px;
}


.days {
    border: 2px solid lightgray; 
}

.days-img-top {
    padding-bottom: 14px;
}

.days-title {
    color: white;
    font-weight: 100;
    padding-top: 15px;
    padding-bottom: 25px;
}

.width-98 {
    width: 98%;
}

.bootstrap-buttons {
    padding-bottom: 15px;
}

.meal-passed {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    color: white;
    justify-content: center;
    align-content: center;
}

.bottom-8{
    position: absolute;
    bottom: 8px;
}

.bottom-40{
    position: absolute;
    bottom: 40px;
}

.float-none{
    float: none;
}

.new-meal-buttons {
    margin-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.food-name {
    font-weight: 500;
}

.m-right-auto {
    margin-inline-start: auto !important;
    margin-inline-end: 0 !important;
}

.grocery-btn {
    padding: 11px;
    height: 100%;
}

.grocery-add-btn {
    margin-top: 49px !important;
}

.grocery-del-btn {
    width: 42px;
    height: 42px;
}

.meal-dropdown-btn {
    height: 52px;
    padding-bottom: 10px;
}

.modal-food-scrollable {
    overflow-y: scroll;
    height: 500px;
}

.meal-del-btn {
    margin-top: 20px;
    margin-inline-end: 26px;
    width: 42px;
    height: 42px;
}

.meal-collapse-btn {
    position: absolute;
    top: 0px;
    padding-top: 10px;
    margin-top: 20px;
    margin-inline-end: 26px;
    width: 45px;
    height: 45px;
}

.meal-title {
    margin-top: 15px;
    margin-inline-start: 24px;
}

.food-category-group {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.category-title {
    margin-top: 6px;
    margin-right: 15px;
    margin-left: 15px;
}

.food-name-icon {
    margin-right: 6px;
}

.food-ref-btn {
    padding-left: 40px;
    margin-top: 20px;
    width: 48px;
    height: 48px;
}

/*------------------------------- Font Sizes --------------------------------------*/


.f-size16 {
    font-size: 16px;
}

.f-size18 {
    font-size: 18px !important;
}

.f-size20 {
    font-size: 20px !important;
}

.f-size24 {
    font-size: 24px;
}

.f-size28 {
    font-size: 28px;
}

.f-size32 {
    font-size: 32px;
}

.f-size36 {
    font-size: 36px;
}

/*------------------------------- BG & Colors --------------------------------------*/

.top-bg {
    background-color: #5096af;
}

.my-txt-blue {
    color: #2e7396;
}

.just-bg-blue {
    background-color: #2e7396;
    color: white;
}

.my-bg-blue {
    background-color: #2e7396;
    color: white;
}

    .my-bg-blue:not(.nohover):hover {
        border-color: #2e7396;
        background-color: none;
        color: #2e7396;
    }

.my-bg-blue-outline {
    border-color: #2e7396;
    background-color: none;
    color: #2e7396 !important;
}

    .my-bg-blue-outline:hover {
        background-color: #2e7396;
        color: white !important;
    }

.my-txt-red {
    color: #c2413d;
}

.just-bg-red {
    background-color: #c2413d;
    color: white;
}

.my-bg-red {
    background-color: #c2413d;
    color: white;
}

    .my-bg-red:hover {
        border-color: #c2413d;
        background-color: none;
        color: #c2413d;
    }

.my-bg-red-outline {
    border-color: #c2413d;
    background-color: none;
    color: #c2413d !important;
}

    .my-bg-red-outline:hover {
        background-color: #c2413d;
        color: white !important;
    }

.my-txt-green {
    color: #2E965D;
}

.just-bg-green {
    background-color: #2E965D;
    color: white;
}

.my-bg-green {
    background-color: #2E965D;
    color: white;
}

    .my-bg-green:hover {
        border-color: #2E965D;
        background-color: none;
        color: #2E965D;
    }

.my-bg-green-outline {
    border-color: #2E965D;
    background-color: none;
    color: #2E965D !important;
}

    .my-bg-green-outline:hover {
        background-color: #2E965D;
        color: white !important;
    }

.my-txt-brown {
    color: #A27E5D;
}

.just-bg-brown {
    background-color: #A27E5D;
    color: white;
}

.my-bg-brown {
    background-color: #A27E5D;
    color: white;
}

    .my-bg-brown:hover {
        border-color: #A27E5D;
        background-color: none;
        color: #A27E5D;
    }

.my-bg-brown-outline {
    border-color: #A27E5D;
    background-color: none;
    color: #A27E5D !important;
}

    .my-bg-brown-outline:hover {
        background-color: #A27E5D;
        color: white !important;
    }

.my-txt-orange {
    color: #d95226;
}

.just-bg-orange {
    background-color: #d95226;
    color: white;
}

.opacity-bg-orange {
    background-color: #d9522630;
    color: black;
}

.my-bg-orange {
    background-color: #d95226;
    color: white;
}

    .my-bg-orange:hover {
        border-color: #d95226;
        background-color: none;
        color: #d95226;
    }

.my-bg-orange-outline {
    border-color: #d95226;
    background-color: none;
    color: #d95226 !important;
}

    .my-bg-orange-outline:hover {
        background-color: #d95226;
        color: white !important;
    }

.my-txt-purple {
    color: #9c44bb;
}

.just-bg-purple {
    background-color: #9c44bb;
    color: white;
}

.my-bg-purple {
    background-color: #9c44bb;
    color: white;
}

    .my-bg-purple:hover {
        border-color: #9c44bb;
        background-color: none;
        color: #9c44bb;
    }

.my-bg-purple-outline {
    border-color: #9c44bb;
    background-color: none;
    color: #9c44bb !important;
}

    .my-bg-purple-outline:hover {
        background-color: #9c44bb;
        color: white !important;
    }

.my-txt-mustard {
    color: #96912e;
}

.just-bg-mustard {
    background-color: #96912e;
    color: white;
}

.opacity-bg-mustard {
    background-color: #96912e30;
    color: black;
}

.my-bg-mustard {
    background-color: #96912e;
    color: white;
}

    .my-bg-mustard:hover {
        border-color: #96912e;
        background-color: none;
        color: #96912e;
    }

.my-bg-mustard-outline {
    border-color: #96912e;
    background-color: none;
    color: #96912e !important;
}

    .my-bg-mustard-outline:hover {
        background-color: #96912e;
        color: white !important;
    }

.my-txt-skyblue {
    color: #2e9691;
}

.just-bg-skyblue {
    background-color: #2e9691;
    color: white;
}

.opacity-bg-skyblue {
    background-color: #2e969130;
    color: black;
}

.my-bg-skyblue {
    background-color: #2e9691;
    color: white;
}

    .my-bg-skyblue:hover {
        border-color: #2e9691;
        background-color: none;
        color: #2e9691;
    }

.my-bg-skyblue-outline {
    border-color: #2e9691;
    background-color: none;
    color: #2e9691 !important;
}

    .my-bg-skyblue-outline:hover {
        background-color: #2e9691;
        color: white !important;
    }

.my-txt-darkblue {
    color: #5D81A2;
}

.just-bg-darkblue {
    background-color: #5D81A2;
    color: white;
}

.my-bg-darkblue {
    background-color: #5D81A2;
    color: white;
}

    .my-bg-darkblue:hover {
        border-color: #5D81A2;
        background-color: none;
        color: #5D81A2;
    }

.my-bg-darkblue-outline {
    border-color: #5D81A2;
    background-color: none;
    color: #5D81A2 !important;
}

    .my-bg-darkblue-outline:hover {
        background-color: #5D81A2;
        color: white !important;
    }

.my-txt-darkpurple {
    color: #5D5FA2;
}

.just-bg-darkpurple {
    background-color: #5D5FA2;
    color: white;
}

.opacity-bg-darkpurple {
    background-color: #5D5FA230;
    color: black;
}

.my-bg-darkpurple {
    background-color: #5D5FA2;
    color: white;
}

    .my-bg-darkpurple:hover {
        border-color: #5D5FA2;
        background-color: none;
        color: #5D5FA2;
    }

.my-bg-darkpurple-outline {
    border-color: #5D5FA2;
    background-color: none;
    color: #5D5FA2 !important;
}

    .my-bg-darkpurple-outline:hover {
        background-color: #5D5FA2;
        color: white !important;
    }

.my-txt-darkpink {
    color: #A25D82;
}

.just-bg-darkpink {
    background-color: #A25D82;
    color: white;
}

.opacity-bg-darkpink {
    background-color: #A25D8230;
    color: black;
}

.my-bg-darkpink {
    background-color: #A25D82;
    color: white;
}

    .my-bg-darkpink:hover {
        border-color: #A25D82;
        background-color: none;
        color: #A25D82;
    }

.my-bg-darkpink-outline {
    border-color: #A25D82;
    background-color: none;
    color: #A25D82 !important;
}

    .my-bg-darkpink-outline:hover {
        background-color: #A25D82;
        color: white !important;
    }


/*------------------------------- @media --------------------------------------*/



@media only screen and (min-width: 540px) {

    div .carousel-item.col-12 {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}


